#contact{
    background-color: var(--second-background);
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
form .input-box{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1em;

}
.input-box textarea{
    font-size: 1.5em;
}
form input,textarea{
    font-size: 1.3em;
    padding: 1em 5em;
    border-radius: 0.5em;
    border: none;
    outline: none;
}

form input,textarea:focus{
    background: rgb(229,229,229);

}
.contact .btn{
    background-color:var(--second-background) ;
    padding: 0.5em 1em;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 0.5em;
    font-size: 1.1em;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.3s ease-in-out;  
}
@media(max-width:968){
    #contact .input-box span{
        font-size: 1.2em;
    }
    .input-box input{
        padding: 0.5 1em;
    }

}