footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10em;
    bottom: 0;
    background-color: var(--background);
    width: 100%;
    padding: 5em 15%;

}col-left{
    display: flex;
    flex-direction: column;
    gap: 1em;

}
.col-box{
    display: flex;
    align-items: center;
    gap: 1em;
}
.col-box .i{
    font-size:1.5em;
}
.col-box span{
    font-size: 1.2em;
}
.col-right{
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: white;
    max-width: 500px;
}
.col-right span{
    font-size: 1.3em;
}
 .social-icons{
    display: flex;
    align-items:baseline;
    justify-content: left;
    gap: 1em;
    
}
 .social-icons {
    font-size: 1.5em;
    transition: 0.2s ease-in-out;
    cursor: pointer;

}
.social-icons:hover{
    color: white;

}
@media(max-width:768){
    .footer{
        flex-direction: column;
        gap: 5em;
        align-items: baseline;

    }
}

